<!doctype html>
<html ng-app>
  <head>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body >
    <!-- <form name="myForm" ng-controller="Ctrl">
      userName: <input name="input" ng-model="userName" required>
      <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
      <tt>userName = {{userName}}</tt><br>
      <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br>
      <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br>
      <tt>myForm.$valid = {{myForm.$valid}}</tt><br>
      <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br>
     </form> -->
     <!-- <p>1 + 2 = {{ 1 + 2 }}</p> --> 
     <div ng-controller='Ctrl' style="background-color:#BFBFBF;">
     	<h3>Test Form:</h3>
     	<form name="myForm" class='css-form'>
				UserName:
				<input type='text' name="userName" ng-model="user.userName" required />
				<!-- <span class="error" ng-show="myForm.userName.$error.required"> Required!</span>
				<br> -->
				<br>
				First Name:
				<input type="text" name="firstName" ng-model="user.firstName" required />
				<!-- <span class="error" ng-show="myForm.firstName.$error.required"> Required!</span>
				<br> -->
				<br>
				Last Name:
				<input type='text' name='lastName' ng-model='user.lastName'/>
				<br>
				E-mail:
				<input type='email' name='Email' ng-model='user.Email' required style="margin-left:28px;"/>
				<br>
				Gender:
				<input type='radio' ng-model='user.gender'  value='male' ng-checked='true'/> Male
				<input type='radio' ng-model='user.gender' value='female' />Female
				<br>
				About:
				<br>
				<textarea rows="10" cols="30" ng-model = 'user.text' style='margin-left:75px;'></textarea>
				<br>
				<div class='btn-set' style="margin-left: 100px;">
					<button ng-click='reset()' ng-disabled='isUnchanged(user)'>RESET</button>
					<button ng-click='save(user)' ng-disabled='form.$invalid || isUnchanged(user)'>Save</button>
				</div>
			</form>
			<pre>form = {{user | json}}</pre>
      <pre>master = {{master | json}}</pre>
			<b>Invoice:</b>
      <br>
      <br>
      <table>
       <tr><td>Quantity</td><td>Cost</td></tr>
       <tr>
         <td><input type="integer" min="0" ng-model="qty" required ></td>
         <td><input type="number" ng-model="cost" required ></td>
       </tr>
      </table>
      <hr>
      <b>Total:</b> {{qty * cost | currency}}
     </div>
     <!-- <br>
     <div ng-controller='ctrlcurr'>
     		Expressions:
     		<input type='text' ng-model='expr' size='75'/>
     		<button ng-click='addExpr(expr)'>Evaluate</button>
     		<button ng-click='greet(expr)'>Greet</button>
     		<ul>
     			<li ng-repeat='expr in exprs'>
     				[<a href='' ng-click='removeExpr($index)'>x</a>]
     				<tt>{{expr}}</tt>=> <span ng-bind="$parent.$eval(expr)"></span>
     			</li>
     		</ul>
     </div> -->
  </body>
</html>