<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <!-- <script src="js/app.js"></script> -->
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
	
  <!-- <p>Nothing here {{'yet' + '!'}}</p>
	<p>1 + 2 = {{ 1 + 2 }}</p> 
	<ul>
  	<li>
    	<span>Nexus S</span>
    	<p>
     	 Fast just got faster with Nexus S.
    	</p>
  	</li>
  	<li>
    	<span>Motorola XOOM™ with Wi-Fi</span>
    	<p>
      	The Next, Next Generation tablet.
    	</p>
  	</li>
	</ul>
	<p>Total number of phones: 2</p>-->
  <!-- <ul>
    <li ng-repeat="phone in phones">
      {{phone.name}}
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
  <p>Total number of phones: {{phones.length}}</p>
  <p>{{hello}}</p>
  <table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
  </table> -->
  <div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<!--Sidebar content-->
					Search:<input ng-model="query">
					Sort by:
					<select ng-model="orderProp">
					  <option value="name">Alphabetical</option>
					  <option value="age">Newest</option>
					</select>
				</div>
				<div class="span10">
					<!--Body content-->
					<ul class="phones">
						<li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
							<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
            	<a href="#/phones/{{phone.id}}">{{phone.name}}</a>
							<p>
								{{phone.snippet}}
							</p>
						</li>
					</ul>
					<p>{{hello}}</p>
				</div>
			</div>
		</div>
		 <title>Google Phone Gallery: {{query}}</title>
</body>
</html>
